<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gourmet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gourmet.activities.ClientRequestActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
        <activity
            android:name="com.gourmet.activities.RestoListActivity"
            android:label="@string/title_resto_activity" >
        </activity>
        <activity
            android:name="com.gourmet.activities.MealListActivity"
            android:label="@string/title_meal_activity" >
        </activity>
        <activity
            android:name="com.gourmet.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />


            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gourmet.RestoTestActivity"
            android:label="@string/title_activity_resto_test" >
        </activity>
        <activity
            android:name="com.gourmet.activities.AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name="com.gourmet.activities.RestoRequestActiviy"
            android:label="@string/title_activity_resto_request_activiy" >
        </activity>
        <activity
            android:name="com.gourmet.activities.ClientListActivity"
            android:label="@string/title_activity_client_list" >
        </activity>
    </application>

</manifest>